@main("Novo Livro") {

<script type="text/javascript">
    
    function save() {
       var fdata = $('#newbookform').serializeJSON();
       var jdata = JSON.stringify(fdata);
        $.ajax({
        url: '/Book',
        type: 'POST',
        contentType: 'application/json',
        data: jdata,
        // processData: false, // this is optional
        dataType: 'json'
       });
       
    }
</script>

 <h2>Novo Livro</h2>

	<form id="newbookform">
	    <div class="form-group">	
        <label >id</label>
        <input class="form-control" type="text" name='id' id='id'/>
        </div>
        <div class="form-group">
        <label >author</label>
        <input class="form-control" type="text" name='author' id='author' />
        </div>
        <div class="form-group">
        <label >collection</label>
        <input class="form-control" type="text" name='collection' id='collection'/> 
        </div>
        <div class="form-group">
        <label >other</label>
        <input class="form-control" type="text" name='other' id='other' />
        </div>
        <div class="form-group">
        <label >title</label>
        <input class="form-control" type="text" name='title' id='title' />
        </div>
        <div class="form-group">
        <label >reader</label>
        <input class="form-control" type="text" name='reader' id='reader' />
  		</div>
  		<div class="form-group">
  		<button type="submit" class="btn" onclick="save()">Save</button>
  		</div>
      </form>
    
    

}