@(books: List[model.vo.Book])
@main("Lista de Livros") {


<script type="text/javascript">
    
    function apagar(id) {
       var durl = '/Book/' + id; 
        $.ajax({
        url: durl,
        type: 'DELETE',
       });
       location.reload(); 
    }
</script>


 <h2>Livros</h2>

   <table class="table table-striped">
    <thead>
      <tr class="info">
        <th>id</th>
        <th>author</th>
        <th>collection</th>
        <th>other</th>
        <th>title</th>
        <th>reader</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
    
    @for(book <- books) {
      <tr>
        <td><a href="XXX"></a> @book.id</td>
        <td><a href="XXX"></a> @book.author</td>
        <td><a href="XXX"></a> @book.collection</td>
        <td><a href="XXX"></a> @book.other</td>
        <td><a href="XXX"></a> @book.title</td>
        <td><a href="XXX"></a> @book.reader</td>
        <td><input type="button" value="apagar" onclick="apagar(@book.id)"></td>
        </tr> 
    }
  
    </tbody>
    </table>
}